extends layout

block content
    #loadicon(ng-show='isLoading')
        div

    article.item(ng-repeat='post in posts',ng-hide='isLoading && isCreatingPost')
        figure.imagen_item
            img(src='/images/imagen.jpg')
        h2.titulo_item
            a(href="#") {{post.title}}
        p.autor_item Por
            a(href='#') {{post.user}}
        p.datos_item
            a.tag_item(href='#') {{post.category}}
            span.fecha_item Hace {{post.date}}
            a.comentarios_item(href="#") {{post.coments.length}}
            a.guardar_item(href="#")
        p.votacion
            a.up(href="")
            |{{post.points}}
            a.down(href="")

    p(ng-show='posts.length==0 && !isLoading && !isCreatingPost') No hay posts
    section.publish(ng-show='isCreatingPost')
        form(ng-submit='publishPost()')
            h2 Título del post:
            input(type='text',ng-model='newPost.title')
            h3 Categoria:
            select(ng-model='newPost.category')
                option(value='python',selected) Python
                option(value='html5') HTML5
                option(value='javascript') JavaScript
                option(value='css3') CSS3
                option(value='nodejs') Node.js
            h3 Contenido:
            textarea(ng-model='newPost.content')
            button(type='submit') Publicar