extends layout

block content
    #loadicon(ng-show='isLoading')
        div

    article.item(ng-repeat='post in posts',ng-hide='isLoading || isCreatingPost || isViewer')
        figure.imagen_item
            img(src='/images/imagen.jpg')
        h2.titulo_item
            a(href="#") {{post.title}}
        p.autor_item Por
            a(href='#') {{post.user}}
        p.datos_item
            a.tag_item(href='#') {{post.category}}
            span.fecha_item Hace {{post.date}}
            a.comentarios_item(href="#") {{post.coments.length}}
            a.guardar_item(href="#")
        p.votacion
            a.up(href="")
            |{{post.points}}
            a.down(href="")

    p(ng-show='posts.length==0 && !isLoading && !isCreatingPost ') No hay posts
    section.publish(ng-show='isCreatingPost')
        form(ng-submit='publishPost()')
            h2 Título del post:
            input(type='text',ng-model='newPost.title',required=)
            h3 Categoria:
            select(ng-model='newPost.category')
                option(value='Python') Python
                option(value='HTML5') HTML5
                option(value='JavaScript') JavaScript
                option(value='CSS3') CSS3
                option(value='Node.js') Node.js
            h3 Contenido:
            textarea(ng-model='newPost.content',required)
            button(type='submit') Publicar
    section.viewer(ng-show='isViewer')